<h1>New Post</h1>
<br></br>
<%=form_for(@post) do |f| %>
  <%=f.label :title %>
  <br></br>
    <%=f.text_field :title %>
      <br></br>
  <%=f.label :content %>
  <br></br>
    <%=f.text_area :content %>
      <br></br>
  <%=f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      <br></br>
  <%=f.fields_for :categories, post.categories.build do |category_attributes| %>
    <%= category_attributes.label :name %>
    <br></br>
      <%= category_attributes.text_field :name %>
  <% end %>
  <%=f.submit%>
<% end %>
