<h1>Post Title: <%= @post.title %> </h1>
<h1>Post Content: <%= @post.content %> </h1><br>

<h1>Comments:</h1>
<% @post.comments.each do |c| %>
<p><%= c.content %></p>
<% end %> <br>

<h1>Commenting Users:</h1>
<% @post.users.each do |u| %>
<p><%= u.name %></p>
<% end %> <br>

<h1>Add new comment:</h1>
<% new_c = self.comments.build %>
<%= form_tag (comment_path(new_c) do %>
<%= label_tag "Comment:" %>
<%= text_field_tag %>

<% end %>
